html {
    overflow-y: scroll;
}

body {
    padding-top: 70px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTI-MfzSis5qK8podouhSk3XMtSTnhnnlYv1srYrygkUgkilnW1Q);
    background-repeat: no-repeat;
    background-size: cover;
}

#todo-list {
    margin-bottom: 30px;
}

#todo-form {
    margin-bottom: 50px;
}

.todo-text {
    box-shadow: 1px 1px 45px #333;
    transition: 200ms all ease;
    border: none;
    padding: 5px 5px;
    background: transparent;
}

.radio-lbl {
    font-weight: 200;
}

.thin-italic {
    font-style: italic;
    font-weight: 100;
}

  .horizontal-collapse {
    height: 70px;
  }
  .navbar-collapse.in {
    overflow-y: hidden;
  }

  .square-border {
    border-radius: 0%;
  }

  .navbar-inverse {
    background-color: #939D99;
    border-color: #FAD;
  }